//variables
$primary-color: #37231f;
$secondary-color: #fe974c;
$tertiary-color: #4CAF50;
$fourth-color :rgb(59, 2, 2);
$fifth-color: #4834d4;
$font-style: 'Times New Roman', Times, serif; 
$siliguri-font: 'Hind Siliguri', sans-serif;

//custom property
:root{
    --fifth-color:#4834d4;
}






        